// Variable overrides

$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;
