// Variable overrides

$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ ゴシック", sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;
